[submodule "packages/shared"]
	path = packages/shared
	url = https://github.com/kurojifusky/kuro-utils
[submodule "packages/fusky-labs-eslint"]
	path = packages/fusky-labs-eslint
	url = https://github.com/fusky-labs/shared-configs
