# Directories
node_modules/
.DS_Store/
*.pem

.idea/
dist/

build/
.svelte-kit/

*.log*

.env

# Turborepo
.turbo/

*.md
!README.md
!CHANGELOG.md
!src/client/content/**/*.md

# Files
*.env*
*.txt
*.lock
*.py

client/static/**

# Python stuff
.mypy_cache
venv
Lib/**
