# Directories
node_modules/
.DS_Store/
*.pem

.idea/
dist/
.astro/

*.log*

.env
.env.*
!.env.example

# Turborepo
.turbo/

*.md
!README.md
!CHANGELOG.md
!src/client/content/**/*.md

.env
.env.*
!.env.example

# Files
*.env*
*.txt
*.lock
*.py

# Python stuff
.mypy_cache
venv
Lib/**
