mypy

# Main libs
python-dotenv
fastapi
uvicorn

PyYAML
python-slugify
beautifulsoup4
colorama
requests
pydantic
selenium

Pillow

# Type stubs
types-beautifulsoup4
types-colorama
types-requests

# Used for testing with FastAPI
httpx